*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat", sans-serif;
}

header p{
    display:flex;
    justify-content: center;
    align-items: center;
}

#logo-titulo{
    font-family: "Irish Grover", system-ui;
    font-size: 1.6em;
}

#nombre-usuario a{
    text-decoration: none;
    color: black;
    font-family: "Irish Grover", system-ui;
    font-size: 1.5rem;
    padding-right: 1rem;
}

#nombre-usuario a:hover{
    color: gray;
}

#nombre-usuario {
    padding-right: 1rem;
    padding-left: 0.5rem;
}

#nombre-usuario img{
    width: 2em;
    height: 2em;
    padding-right: 2px;
}

#logo-titulo img{
    width: 3em;
    height: auto;
    padding-right: 2px;
}

#nombre-usuario img{
    width: 2em;
    height: 2em;
}

body{
    display: grid;
    grid-template-columns: 12% 1fr 1fr;
    grid-template-rows: 5em 1fr 3em;
    grid-template-areas: "h h h"
                         "n m m"
                         "n f f";
    height: 100vh;
}

header{
    display: flex;
    grid-area: h;
    background: #ffa7a5;
    padding: 0.5em;
    justify-content: space-between;
}

nav{
    padding-top: 1rem;
    grid-area: n;
    background: #F7CAC9;
    padding-left: 1rem;
    padding-right: 1rem;
}

nav h2{
    padding-bottom: 0.4em;
}

nav h3{
    padding-bottom: 0.2em;
    padding-left: 1em;
}

nav a{
    text-decoration: none;
    color: black;
    margin-left: 0.1rem;
    font-family: "Irish Grover", system-ui;
}

nav h2:hover, nav h3:hover{
    background: #F5B895;
}

main{
    grid-area: m;
    display: grid;
    background: #FFF5E1;
    padding: 2em;
    margin: 0;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 3em;
    justify-content: space-evenly;
}


footer{
    grid-area: f;
    display: flex;
    background: #F7CAC9;
    align-items: center;
    justify-content: center;
}

.img-contenedor {
    height: 60vh;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
}


.carrusel {
    height: 100%;
    width: 500%;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    transition: left 0.3s;    
}

.carrusel img{
    object-fit: cover;
    height: 100%;
    width: 20%;
}

.contenedor-nav-img {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(108, 102, 102, 0.67);
}

.navegador-img {
    display: flex;
    list-style: none;
    color: white;    
    justify-content: space-around;
    font-size: 2rem;
}

.navegador-img li {
    cursor: pointer;
    transition: color 0.3s;
}
    
.navegador-img li:hover {
    color: black;
}




/* INICIA CARRITO DE COMPRAS */
.carrito-boton {
    width: 40px;
    background: #F5B895;
    position: fixed;
    bottom: 8%;
    right: 5%;
    z-index: 15;
    box-shadow: 0 0 5px gray;
    cursor: pointer;
    transition: background 0.3s;
}

.carrito-fondo {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 12;
    background: rgba(255, 255, 255, 0.8);
    display: grid;
    place-items: center;
    visibility: hidden;
}

.carrito-ventana {
    width: 60%;
    background: #FFF5E1;
    border: 5px solid #F5B895;
    padding: 10px;
    color: #42929D;
    font-family: 'Patua One', serif;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.carrito-ventana .encabezado-detalle, .carrito-ventana .total {
    color: #42929D;
    font-family: 'Balsamiq Sans', sans-serif;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    border-bottom: 1px solid #42929D;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.carrito-ventana .total {
    border-bottom: none;
    margin-top: 1px solid #42929D;
}

.productos .renglon {
    color: #42929D;
    font-family: 'Balsamiq Sans', sans-serif;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    margin-bottom: 10px;
}

.renglon .precio, .total .precio-total {
    text-align: right;
}

.encabezado-detalle .columna-precio{
    text-align: center;
}

.carrito-ventana .renglon .boton-quitar {
    color: #FFF5E1;
    font-family: 'Balsamiq Sans', sans-serif;
    background: #F7CAC9;
    border: none;
    cursor: pointer;
    transition: background 0.5s;
    margin-left: 5px;
}

.carrito-ventana .renglon .boton-quitar:hover {
    background: #E08E79;
    color: #FFF5E1;
}

.carrito-ventana .boton-compra {
    width: 100%;
    background: #F5B895;
    color: #FFF5E1;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.carrito-ventana .boton-compra:hover {
    background: #FFF5E1;
    color: #F5B895;
}

.input-cantidad {
    width: 60px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0.5px;
}
